body{
    background-image: url(../assets/background.jpg);
    font: normal 18pt Arial;
}

div#principal{
    background-image: linear-gradient(to bottom right, rgba(16, 49, 194, 0.8), rgb(54, 146, 233,0.7));
    width: 500px;
    min-height: 150px;
    max-height: 370px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    border: solid 1px black;
    border-radius: 20px 60px;
    text-align: center;
    padding-bottom: 10px;
}

div#principal button{
    margin-top: 20px;
    text-align: center;
    border-radius: 40%;
    border: solid 2px black;
    padding: 5px 20px;
    font-weight: 900;
    font-family: fantasy;
    color: white;
    background-color: rgba(18, 109, 109, 0.705);
    transition: 0.5s;
}
div#principal button:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(21, 216, 53, 0.692);
    font-size: 140%;
}

div#principal input{
    width: 400px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    font-family: 'Brush Script MT', cursive;
    color: rgb(21, 216, 53);
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.texto{
    font-family: cursive;
    color: rgb(21, 216, 86);
    font-weight: bold;
    font-size: 18pt;
    

}